
@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap');

:root {
    --green: #00ff0db6;
    --yellow: #fbff00;
    --red: #ff0000;
    --black: #000000cc;
    --black2: #00000099;
    --green-nav: #05ad0d;
    --white: #fff;
    --white2: #f9f9f9;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
    user-select: none;
    font-family: sans-serif;
    outline: none;
    overflow: hidden;
}

                            /* Nav Bar */
 
nav {
    background: var(--white);
    padding: 10px 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 5px 5px #0000001a;
}
.logo {
    font-family: 'Major Mono Display', monospace;
    font-size: 50px;
    transition: all .2s ease .2s;
    color: black;
    margin-bottom: 5px;
}
.logo:hover {
    color: var(--black);
    text-shadow: 1px 1px 10px var(--green), -1px -1px 10px var(--green);
}
.nav-link {
    text-decoration: none;
    color: var(--black);
    margin: 0 15px;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 1px;
    transition: all .3s ease .2s;
    font-family: sans-serif;
}
.nav-link:hover {
    /* text-shadow: 1px 1px 10px var(--green), -1px -1px 10px var(--green); */
    color: var(--green-nav);
}
#nav-btn {
    font-size: 20px;
    padding: 4px 10px;
    border-radius: 5px;
    border: 2px solid var(--green);
    background: var(--green);
    transition: all .2s ease .2s;
    cursor: pointer;
    color: rgba(0, 0, 0, 0.63);
    letter-spacing: 2px;
    outline: none;
}
#nav-btn:hover {
    background: var(--white);
    color: var(--black);
}
.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 40px;
    background: var(--white);
    border-radius: 5px;
    box-shadow: 0 5px 5px #0000001a;
    min-width: 500px;
    transition: all 1s;
}
.container:hover {
    box-shadow: 1px 1px 10px var(--green), -1px -1px 10px var(--green);
}
body {
    background: var(--white2);
}

                       /*   Home Page   */

.home-head {
    font-size: 30px;
    margin-bottom: 30px;
    color: var(--black);
}
.home-con {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.home-btn {
    display: block;
    text-decoration: none;
    font-size: 25px;
    width: 400px;
    height: 60px;
    letter-spacing: 3px;
    font-weight: 400;
    border-radius: 5px;
    margin: 5px 0;
    border: 2px solid #00ff0d9c;
    cursor: pointer;
    transition: all .2s ease .1s;
    color: var(--black2);
    background: var(--green);
    outline: none;

}
.home-btn:hover {
    background: #fff;
    color: var(--black);

}
a {
    text-decoration: none;
}


                       /*  Conversor  */


.conversor-con {
    padding: 50px !important;
}
.conversor-heading {
    color: var(--black);
    font-size: 40px;
    margin-bottom: 15px;
}
.ipt-con {
    display: flex;
    margin: 5px 0;
}
#ipt {
    width: 350px;
    font-size: 27px;
    letter-spacing: 5px;
    border: 2px solid var(--green);
    outline: none;
    text-align: center;
    color: var(--black);
}
#btn {
    width: 110px;
    font-size: 20px;
    font-weight: 100;
    letter-spacing: 2px;
    cursor: pointer;
    border: 2px solid var(--green);
    background: var(--green);
    color: var(--black2);
    transition: all .2s ease .1s;
    margin-left: 2px;
    outline: none;
}
#btn:hover {
    background: #fff;
    border: 2px solid var(--green);
    color: var(--black);
}
#btn, #ipt, .result-container {
    height: 50px;
    border-radius: 5px;
}
.result-container {
    display: flex;
    line-height: 50px;
    border: 2px solid var(--yellow);
}
.p-container {
    width: 120px;
    font-size: 20px;
    letter-spacing: 1px;
    text-align: center;
    background: var(--yellow);
    color: var(--black);
}
#result {
    margin-left: 50px;
    font-size: 20px;
    letter-spacing: 3px;
    color: var(--black);
    
}


                        /* I M C */

.imc-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-width: 460px;
}
.imc-heading {
    padding-left: 15px;
    letter-spacing: 25px;
    font-size: 120px;
    color: var(--black);
}
.imc-ipt-con {
    display: flex;
}
#metros, #kg {
    transform: translate(2%,40%);
    font-family: sans-serif;
    color: #00000080;
}
.imc-ipt {
    text-align: center;
    width: 133px;
    outline: none;
    border: 1px solid #00000080;
    font-size: 25px;
    font-weight: 100;
    letter-spacing: 3px;
    border-radius: 5px;
    margin: 10px 2px 5px 2px;
    height: 50px;
    transition: all .5s;
}
.imc-ipt:hover {
    border: 1px solid blue;
}
.imc-ipt:focus {
    border: 1px solid blue;
}
#imc-btn {
    display: block;
    margin-bottom: 20px;
    width: 270px;
    height: 60px;
    background: var(--green);
    border: 1px solid var(--green);
    font-size: 30px;
    color: var(--black2);
    border-radius: 5px;
    letter-spacing: 5px;
    transition: all .2s ease .1s;
    outline: none;
}
#imc-btn:hover {
    cursor: pointer;
    background: #fff;
    color: var(--black);
}
.result, .resut-imcP {
    margin: 5px 0;
    color: var(--black2);
    font-size: 40px;
    letter-spacing: 1px;
}

                   /*  Adivinhe o Número  */

.adivinhe-con {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.advinhe-heading {
    font-size: 40px;
    letter-spacing: 3px;
    color: var(--black);
}
.adivinhe-countTxt, .adivinhe-count {
    font-size: 30px;
    transition: all 1s ease;
    color: #000000be;
}
.adivinhe-ipt {
    text-align: center;
    font-size: 25px;
    height: 50px;
    border-radius: 5px;
    border: 1px solid #0000ffe1;
    margin: 5px 0;
    outline: none;
}
.adivinhe-btn {
    font-size: 25px;
    letter-spacing: 2px;
    display: block;
    height: 50px;
    border: 1px solid var(--green);
    background: var(--green);
    color: var(--black2);
    border-radius: 5px;
    cursor: pointer;
    transition: all .2s ease .1s;
}
.adivinhe-btn:hover {
    background: #fff;
    color: var(--black);
}
.reset-btn {
    font-size: 25px;
    letter-spacing: 2px;
    display: block;
    height: 50px;
    border: 1px solid var(--yellow);
    background: var(--yellow);
    color: var(--black2);
    border-radius: 5px;
    cursor: pointer;
    outline: none;
    margin-top: 5px;
    transition: all .2s ease .1s;
}
.reset-btn:hover {
    background: #fff;
    color: var(--black);
}
.perdeu {
    color: red;
    font-size: 100px;
}
.venceu {
    color: var(--green);
    font-size: 100px;
}


            /*  Botão de Mostrar e Esconder  */

.img-con {
    background: #fff;
    position: absolute;
    top: 15vh;
    right: 20px;
    height: 82vh;
    transform: translateX(110%);
    box-shadow: 0 5px 5px #0000001a;
    overflow-y: scroll;
    transition: all 1s;
    border-radius: 5px;
}
.img-con img {
    width: 632px;
}
.img-con:hover {
    box-shadow: 1px 1px 10px var(--green), -1px -1px 10px var(--green);
}
.show-hide {
    position: absolute;
    left: 50%;
    bottom: 5%;
    transform: translateX(-50%);
    width: 200px;
    height: 50px;
    transition: all 1s;
    letter-spacing: 1px;
    font-size: 22px;
    font-weight: 100;
    color: var(--black2);
    border-radius: 5px;
    border: 1px solid var(--green);
    cursor: pointer;
    background: var(--green);
    outline: none;
}
.show-hide:hover {
    background: var(--white);
    color: var(--black);
}
.move-left {
    left: 25%;
}
.move-img {
    transform: translateX(0);
}