
@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
    user-select: none;
}
#root {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 40px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 5px 5px #0000001a;
    min-width: 500px;
    transition: all 1s;
}
#root:hover {
    box-shadow: 1px 1px 10px #63ff6a, -1px -1px 10px #63ff6a;
}
body {
    background: #f9f9f9;
}
          /*  Home  */

nav {
    background: #fff;
    padding: 10px 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 5px 5px #0000001a;
}
.logo {
    font-family: 'Major Mono Display', monospace;
    font-size: 50px;
    transition: all .4s ease .2s;
    color: black;
    margin-bottom: 5px;
}
.logo:hover {
    color: #05ad0d;
}
.nav-link {
    text-decoration: none;
    color: #000000ab;
    margin: 0 10px;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 1px;
    transition: all .3s ease .2s;
}
.nav-link:hover {
    color: #05ad0d;
}
#nav-btn {
    font-size: 20px;
    padding: 4px 10px;
    border-radius: 5px;
    border: 2px solid #00ff0d9c;
    background: #00ff0d9c;
    transition: all .3s ease .2s;
    cursor: pointer;
    color: rgba(0, 0, 0, 0.63);
    letter-spacing: 2px;
}
#nav-btn:hover {
    background: #fff;
}
.home-head {
    font-size: 30px;
    margin-bottom: 30px;
    color: #000000b9;
}
.home-con {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.home-btn {
    display: block;
    text-decoration: none;
    font-size: 25px;
    width: 400px;
    height: 50px;
    letter-spacing: 3px;
    font-weight: 400;
    border-radius: 5px;
    margin: 5px 0;
    border: 1px solid #00ff0d9c;
    cursor: pointer;
    transition: all .3s ease .2s;
    color: rgba(0, 0, 0, 0.575);
    background: #00ff0d9c;
}
.home-btn:hover {
    background: #fff;
}
a {
    text-decoration: none;
}
         /*  Conversor  */
.conversor-con {
    padding: 50px !important;
}
.conversor-heading {
    opacity: .75;
    font-size: 40px;
    margin-bottom: 15px;
}
.ipt-con {
    display: flex;
    margin: 5px 0;
}
#ipt {
    width: 300px;
    text-align: center;
    font-size: 25px;
    letter-spacing: 8px;
    line-height: 35px;
    border: 2px solid #00ff0d9c;
    outline: none;
}
#btn {
    width: 110px;
    font-size: 20px;
    font-weight: 100;
    letter-spacing: 2px;
    cursor: pointer;
    border: 2px solid #00ff0d9c;
    background: #00ff0d9c;
    transition: all .5s;
    margin-left: 2px;
}
#btn:hover {
    background: #fff;
}
#btn, #ipt, .result-container {
    height: 50px;
    border-radius: 5px;
}
.result-container {
    display: flex;
    line-height: 50px;
    border: 2px solid #fbff00;
}
.p-container {
    width: 110px;
    font-size: 20px;
    letter-spacing: 1px;
    text-align: center;
    background: #fbff00;
    color: #000000c0;
}
#result {
    margin-left: 30px;
    font-size: 20px;
    letter-spacing: 3px;
    color: #000000cc;
}


/* I M C */

.imc-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px !important;
    min-width: 460px;
}
.imc-heading {
    margin-left: 15px;
    text-align: center;
    letter-spacing: 20px;
    font-size: 100px;
}
.imc-ipt {
    text-align: center;
    width: 120px;
    outline: none;
    border: none;
    font-size: 35px;
    font-weight: 100;
    margin: 0 10px 5px 10px;
    letter-spacing: 3px;
}
#imc-btn {
    display: block;
    margin: 20px 0;
    width: 250px;
    height: 60px;
    background: #63ff6a;
    border: 1px solid #63ff6a;
    font-size: 30px;
    color: #000000bd;
    border-radius: 5px;
    letter-spacing: 5px;
    transition: all .4s ease .3s;
}
#imc-btn:hover {
    cursor: pointer;
    background: #fff;
}
.result, .resut-imcP {
    margin: 5px 0;
    color: #000000d2;
    font-size: 40px;
    letter-spacing: 1px;
}

/*  Advinhe Style   */

.adivinhe-con {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 20px;
}
.advinhe-heading {
    font-size: 40px;
    letter-spacing: 3px;
}
.adivinhe-countTxt, .adivinhe-count {
    font-size: 30px;
    transition: all 1s ease;
}
.adivinhe-ipt {
    text-align: center;
    font-size: 25px;
    height: 50px;
    border-radius: 5px;
    border: 1px solid blue;
    margin: 5px 0;
    outline: none;
}
.adivinhe-btn {
    font-size: 25px;
    letter-spacing: 2px;
    font-weight: 500;
    display: block;
    height: 50px;
    border: 1px solid #63ff6a;
    background: #63ff6a;
    color: rgba(0, 0, 0, 0.733);
    border-radius: 5px;
    cursor: pointer;
    transition: all .4s ease .2s;
}
.adivinhe-btn:hover {
    background: #fff;
}
.reset-btn {
    font-size: 25px;
    letter-spacing: 2px;
    font-weight: 500;
    display: block;
    height: 50px;
    border: 1px solid #fbff00;
    background: #fbff00;
    color: rgba(0, 0, 0, 0.733);
    border-radius: 5px;
    cursor: pointer;
    margin-top: 5px;
    transition: all .4s ease .2s;
}
.reset-btn:hover {
    background: #fff;
}
.perdeu {
    color: red;
    font-size: 100px;
}
.venceu {
    color: rgb(21, 255, 0);
    font-size: 100px;
}