
@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap');

:root {
    --green: #00ff0d9c;
    --yellow: #fbff00;
    --red: #ff0000;
    --black: #000000cc;
    --green-nav: #05ad0d;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
    user-select: none;
}
#root {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 40px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 5px 5px #0000001a;
    min-width: 500px;
    transition: all 1s;
}
#root:hover {
    box-shadow: 1px 1px 10px var(--green), -1px -1px 10px var(--green);
}
body {
    background: #f9f9f9;
}
                      
                            /* Nav Bar */
 
nav {
    background: #fff;
    padding: 10px 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 5px 5px #0000001a;
}
.logo {
    font-family: 'Major Mono Display', monospace;
    font-size: 50px;
    transition: all .4s ease .2s;
    color: black;
    margin-bottom: 5px;
}
.logo:hover {
    color: var(--green-nav);
}
.nav-link {
    text-decoration: none;
    color: var(--black);
    margin: 0 15px;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 1px;
    transition: all .3s ease .2s;
    font-family: sans-serif;
}
.nav-link:hover {
    color: var(--green-nav);
}
#nav-btn {
    font-size: 20px;
    padding: 4px 10px;
    border-radius: 5px;
    border: 2px solid #00ff0d9c;
    background: #00ff0d9c;
    transition: all .3s ease .2s;
    cursor: pointer;
    color: rgba(0, 0, 0, 0.63);
    letter-spacing: 2px;
}
#nav-btn:hover {
    background: #fff;
}

                                /*   Home Page   */

.home-head {
    font-size: 30px;
    margin-bottom: 30px;
    color: var(--black);
}
.home-con {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.home-btn {
    display: block;
    text-decoration: none;
    font-size: 25px;
    width: 400px;
    height: 50px;
    letter-spacing: 3px;
    font-weight: 400;
    border-radius: 5px;
    margin: 5px 0;
    border: 2px solid #00ff0d9c;
    cursor: pointer;
    transition: all .3s ease .2s;
    color: var(--black);
    background: var(--green);
}
.home-btn:hover {
    background: #fff;
}
a {
    text-decoration: none;
}


                       /*  Conversor  */


.conversor-con {
    padding: 50px !important;
}
.conversor-heading {
    opacity: .75;
    font-size: 40px;
    margin-bottom: 15px;
}
.ipt-con {
    display: flex;
    margin: 5px 0;
}
#ipt {
    width: 300px;
    font-weight: 500;
    font-size: 27px;
    letter-spacing: 8px;
    border: 2px solid var(--green);
    outline: none;
    padding-left: 25px;
}
#btn {
    width: 110px;
    font-size: 20px;
    font-weight: 100;
    letter-spacing: 2px;
    cursor: pointer;
    border: 2px solid var(--green);
    background: var(--green);
    color: var(--black);
    transition: all .4s ease .2s;
    margin-left: 2px;
}
#btn:hover {
    background: #fff;
}
#btn, #ipt, .result-container {
    height: 50px;
    border-radius: 5px;
}
.result-container {
    display: flex;
    line-height: 50px;
    border: 2px solid var(--yellow);
}
.p-container {
    width: 110px;
    font-size: 20px;
    letter-spacing: 1px;
    text-align: center;
    background: var(--yellow);
    color: var(--black);
}
#result {
    margin-left: 30px;
    font-size: 20px;
    letter-spacing: 3px;
    color: #000000cc;
}


                        /* I M C */

.imc-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-width: 460px;
}
.imc-heading {
    margin-left: 15px;
    letter-spacing: 20px;
    font-size: 100px;
    color: var(--black);
}
.imc-ipt-con {
    display: flex;
}
.imc-ipt-con div p {
    transform: translate(2%,90%);
    font-family: sans-serif;
    color: #00000080;
}
.imc-ipt {
    text-align: center;
    width: 122px;
    outline: none;
    border: 1px solid blue;
    font-size: 25px;
    font-weight: 100;
    letter-spacing: 3px;
    border-radius: 5px;
    margin: 20px 2px 5px 2px;
    height: 50px;
}
#imc-btn {
    display: block;
    margin-bottom: 20px;
    width: 250px;
    height: 60px;
    background: var(--green);
    border: 1px solid var(--green);
    font-size: 30px;
    color: var(--black);
    border-radius: 5px;
    letter-spacing: 5px;
    transition: all .4s ease .3s;
}
#imc-btn:hover {
    cursor: pointer;
    background: #fff;
}
.result, .resut-imcP {
    margin: 5px 0;
    color: var(--black);
    font-size: 40px;
    letter-spacing: 1px;
}

                   /*  Advinhe Número   */

.adivinhe-con {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.advinhe-heading {
    font-size: 40px;
    letter-spacing: 3px;
    color: var(--black);
}
.adivinhe-countTxt, .adivinhe-count {
    font-size: 30px;
    transition: all 1s ease;
    color: var(--black);
}
.adivinhe-ipt {
    text-align: center;
    font-size: 25px;
    height: 50px;
    border-radius: 5px;
    border: 1px solid blue;
    margin: 5px 0;
    outline: none;
}
.adivinhe-btn {
    font-size: 25px;
    letter-spacing: 2px;
    font-weight: 500;
    display: block;
    height: 50px;
    border: 1px solid var(--green);
    background: var(--green);
    color: var(--black);
    border-radius: 5px;
    cursor: pointer;
    transition: all .3s ease .2s;
}
.adivinhe-btn:hover {
    background: #fff;
}
.reset-btn {
    font-size: 25px;
    letter-spacing: 2px;
    font-weight: 500;
    display: block;
    height: 50px;
    border: 1px solid var(--yellow);
    background: var(--yellow);
    color: var(--black);
    border-radius: 5px;
    cursor: pointer;
    margin-top: 5px;
    transition: all .3s ease .2s;
}
.reset-btn:hover {
    background: #fff;
}
.perdeu {
    color: red;
    font-size: 100px;
}
.venceu {
    color: rgb(21, 255, 0);
    font-size: 100px;
}